# VS Code
.vscode/

# Python
__pycache__/
# *.py[cod]
# *$py.class
# *.so
# .Python
# env/
# build/
# develop-eggs/
# dist/
# downloads/
# eggs/
# .eggs/
# lib/
# lib64/
# parts/
# sdist/
# var/
# *.egg-info/
# .installed.cfg
# *.egg

# Environments
# .env
# .venv
# env/
# venv/
# ENV/

# Directories
cache/
#dataset/
logs/
#data_*/
#output_*/

# Files
debug.log
*.npz
*.log

# Selectively include important images but exclude data
# Keep documentation images
# !docs/*.png
# !*/docs/*.png

# Docker
.dockerignore

# Jupyter Notebooks
.ipynb_checkpoints
*/.ipynb_checkpoints/*
